
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
  clear: both;
  padding: 10px;
   color: white;
   position:absolute;
   bottom:-2;
   width:100%;
   height:50px;   /* Height of the footer */
   background-color:;
   text-align: right;
}

#footer:hover {
  color: red;
}

#h1{
  text-align: center;
}
